button{
    background-color: hotpink ;
    border: 2px solid pink;
    border-radius: 10px;
    text-align: center;
    width: 150px ;
    height: 100px;
    font-size: 70px;
    align-items: center;
}
 